
<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<meta name="viewport" content="width=device-width, initial-scale=1" >
  <head>
<style>
#main
{
  height:auto;
}
</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--bootstrap ends-->

    <!-- fa icons-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
    <!-- fa icons ends-->

    <!--custom-->
    <!--<script src="js/jscript.js" type="text/javascript"></script>-->
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title> Form Display</title>
  </head>


  <body class="bg-light">
    <section class="container-fluid" id="main">




  <div class="row pt-4 table-primary pb-3">

    <div class="col-md-2">
  <a href="/psd2/index.html">
  <button class="btn btn-warning" > Back </button>
  </a>
    </div>

      <div class="col-md-2">
        <label for="name" ><strong>Student Name</strong> </label>
        <input class="form-control" id="name" name="name" value='{{name}}' disabled type="text">
      </div>
      <div class="col-md-2">
        <label for="uid" ><strong>University Id</strong> </label>
        <input class="form-control" id="uid" name="uid" value='{{uid}}' disabled type="text">
      </div>
      <div class="col-md-2">
        <label for="date" ><strong>Form Submission date</strong> </label>
        <input class="form-control" id="date" name="date" value='{{date}}' disabled type="text">
      </div>
      <div class="col-md-2">
        <label for="PS" ><strong>Current PS</strong> </label>
        <input class="form-control" id="PS" name="PS" value='{{ps}}' disabled type="text">
      </div>
    </div>

    <h3 class="text-danger h3 mb-4  text-center"> Form Details</h3>
<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <div class="row container-fluid ">
      <div class="col-md-12">
        <label for="desc" ><strong>Description</strong> </label>
        <textarea class="form-control md-textarea" disabled rows="5" id="desc" name="desc" type="text" ></textarea>
      </div>
    </div>

  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5 col-sm-5">
  <h5>  Submitted Documents </h5>
    <div class="row documents" id="docs">


      </div>
    </div>
  </div>
  <div class="row mt-5">


    <div class="col-md-6 col-sm-12 p-0 d-flex justify-content-center ">
      <div class="btn btn-group-inline  btn-group-toggle btn-grp  pl-0" id="priority" data-toggle="buttons">
   <h5 class="h5"> Set Priority </h5>
        <label class="btn mt-2 btn-outline-warning ">
          <input type="radio" name="priority-option" value="low" id="low"  autocomplete="off" > <i class="fas fa-user"> </i> Low Priority
        </label>
        <label class="btn mt-2 btn-outline-primary ">
          <input type="radio" name="priority-option" value="med" id="med" autocomplete="off" > <i class="fas fa-user"> </i> Medium Priority
        </label>

        <label class="btn mt-2 btn-outline-danger">
          <input type="radio" name="priority-option" value="high" id="high" autocomplete="off" > <i class="fas fa-user"> </i> High Priority
        </label>
      </div>
    </div>
      <div class="col-md-4 col-sm-12 form-group text-center p-0 m-2 mt-3">
        <h5> Enter Remarks</h5>

          <textarea class="form-control md-textarea" rows="3" id="remarks"  name="remarks" type="text" ></textarea>

      </div>
    </div>

<div class="row pb-5 mt-5 mb-5 d-flex  justify-content-center">
  <button class="btn btn-lg btn-primary">Submit</button>
</div>
</section>
</body>

<script type="text/javascript">
/*$(document).ready(function(){
//var uid=document.getElementById;

  document.getElementById('name').value={{name}};
  document.getElementById('uid').value={{uid}};

  document.getElementById('desc').value={{desc}};
  document.getElementById('date').value={{date}};
  document.getElementById('PS').value={{ps}};
  //document.getElementById('name')=response.name;
var documents=response.documents;

var length=documents.length;

for(var i=0;i<length;i++)
{
var doc='<div class="col-md-2 p-3 document"><a href="'+documents[i].url+'" id="doc'+i+'">      <div class="thumbnail">        <img src="img/docs.png" id="img1" class="p-1 img " style="width:100%;" alt="'+documents[i].type+'" >      </div>        <div class="caption pt-4  table-warning ">          <p id="caption1">'+documents[i].type+'</p>        </div>      </a>      </div>';
$('#docs').append(doc);
}






});*/
</script>


</html>
