{% extends 'grievance/website_base.html' %}
{% load static %}

{% block content %}

<div class="site-section">
    <form class="signup-form1 shadow p-3 mb-5 bg-white rounded" id="application1Form" action="/ps-grievance/student/" method="post" readonly>
        {% csrf_token %}
        <h2 class="text-center">Submission Date Change Form</h2>
        <br/>

        

        <div class="form-group row">
            <label for="userid" class="col-sm-4 col-form-label">New Date</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="date" name="date" >
            </div>
        </div>
    </form>
</div>


{% endblock %}