<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<meta name="viewport" content="width=device-width, initial-scale=1" >
  <head>-->


{% extends 'grievance/website_base.html' %}
{% load static %}


{% block content %}





<section class="container-fluid m-0 " id="main">


    <br><br><br>

    <div class="row container-fluid pt-4 d-flex justify-content-center table-primary pb-3">


        <div class="col-md-2">
            <label for="name"><strong>Student Name</strong> </label>
            <input class="form-control" id="name" style="text-align: center;" name="name" value='{{name}}' disabled
                type="text">
        </div>
        <div class="col-md-2">
            <label for="student_id"><strong>Student Id</strong> </label>
            <input class="form-control" id="student_id" style="text-align: center;" name="student_id"
                value='{{student_id}}' disabled type="text">
        </div>
        <div class="col-md-2">
            <label for="CG"><strong>CG</strong> </label>
            <input class="form-control" id="CG" name="CG" style="text-align: center;" value='{{cg}}'
                disabled type="text">
        </div>
    </div>



    <div class="table-light site-section" id="informativeQueryDiv" style="padding-top: 0px;">
        <div class="signup-form1 shadow p-5 mb-5 table-light rounded">
            <h2 class="text-center">Alloted Station Details</h2>
            <br />
            <div class="row">
                <div class="col-md-6 text-center">
                    <strong> Current PS </strong>
        
                    <input class="form-control  input-sm " cols="2" name="p1" style="text-align: center;"
                        value='{{informativeQueryForm_objects.0.allocatedStation}}' disabled type="text">
                </div>
                <div class="col-md-6 text-center">
                    <strong> Preference No. of Alloted Station </strong>
        
                    <input class="form-control  input-sm " cols="2" name="p1" style="text-align: center;"
                        value='{{informativeQueryForm_objects.0.preferenceNumberOfAllocatedStation}}' disabled type="text">
                </div>
            </div>
        </div>
        
        <!-- QUERY 1 -->
        <form class="signup-form1 shadow p-3 mb-5 table-light rounded" id="informativeQuery1Form" action=""
            method="post" style="display: none;" readonly>
            {% csrf_token %}
            <h2 class="text-center"> Query 1 </h2>
            <br />

            <fieldset id="informativeQuery1Entries">
                <div class="form-group row" id="informativeQuery1DescriptionDiv" name="informativeQuery1DescriptionDiv">
                    <label for="informativeQuery1Description" class="col-sm-2 col-form-label">Query</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="informativeQuery1Description" rows="4" cols="20"
                            name="informativeQuery1Description" readonly>{{informativeQueryForm_objects.0.description}}</textarea>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row" id="informativeQuery1ReplyDiv" name="informativeQuery1ReplyDiv">
                <label for="informativeQuery1Reply" class="col-sm-2 col-form-label">Reply</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="informativeQuery1Reply" rows="4" cols="20"
                        name="reply" required readonly>{{informativeQueryForm_objects.0.level1Comment}}</textarea>
                </div>
            </div>
            <input type="hidden" id="informationQuery1Attempt" name="attempt" value="1">
        </form>




        <!-- QUERY 2 -->




        <form class="signup-form1 shadow p-3 mb-5 table-light rounded" id="informativeQuery2Form" action=""
            method="post" style="display: none;" readonly>
            {% csrf_token %}
            <h2 class="text-center"> Query 2 </h2>
            <br />

            <fieldset id="informativeQuery2Entries">
                <div class="form-group row" id="informativeQuery2DescriptionDiv" name="informativeQuery2DescriptionDiv">
                    <label for="informativeQuery2Description" class="col-sm-2 col-form-label">Query</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="informativeQuery2Description" rows="4" cols="20"
                            name="informativeQuery2Description" readonly>{{informativeQueryForm_objects.1.description}}</textarea>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row" id="informativeQuery2ReplyDiv" name="informativeQuery2ReplyDiv">
                <label for="informativeQuery2Reply" class="col-sm-2 col-form-label">Reply</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="informativeQuery2Reply" rows="4" cols="20"
                        name="reply" required readonly>{{informativeQueryForm_objects.1.level1Comment}}</textarea>
                </div>
            </div>
            <input type="hidden" id="informationQuery2Attempt" name="attempt" value="2">
        </form>



        <!-- QUERY 3 -->



        <form class="signup-form1 shadow p-3 mb-5 table-light rounded" id="informativeQuery3Form" action=""
            method="post" style="display: none;" readonly>
            {% csrf_token %}
            <h2 class="text-center"> Query 3 </h2>
            <br />

            <fieldset id="informativeQuery3Entries">
                <div class="form-group row" id="informativeQuery3DescriptionDiv" name="informativeQuery1DescriptionDiv">
                    <label for="informativeQuery3Description" class="col-sm-2 col-form-label">Query</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="informativeQuery3Description" rows="4" cols="20"
                            name="informativeQuery3Description" readonly>{{informativeQueryForm_objects.2.description}}</textarea>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row" id="informativeQuery3ReplyDiv" name="informativeQuery1ReplyDiv">
                <label for="informativeQuery3Reply" class="col-sm-2 col-form-label">Reply</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="informativeQuery3Reply" rows="4" cols="20"
                        name="reply" required readonly>{{informativeQueryForm_objects.2.level1Comment}}</textarea>
                </div>
            </div>
            <input type="hidden" id="informationQuery3Attempt" name="attempt" value="3">
        </form>
    </div>




    <script type="text/javascript">

        $('#priority-message').hide();
        $('#publish-message1').hide();
        $('#publish-message2').hide();
        $('#publish-message3').hide();
        $('#remarks-message1').hide();
        $('#remarks-message2').hide();
        $('#remarks-message3').hide();
        $('#newStation-message1').hide();
        $('#newStation-message2').hide();
        $('#newStation-message3').hide();



        // var numberOfAttempts = '{{numberOfAttempts}}';

        // if (numberOfAttempts > 1) {
        //     $('#informativeQuery2Form').show();
        //     $('#informativeQuery1Submit').hide();
        //     if (numberOfAttempts > 2) {
        //         $('#informativeQuery3Form').show();
        //         $('#informativeQuery2Submit').hide();
        //     }
        // }

        var statusVar = {{statuses|safe}};
        for (var i = 1; i <= 3; i++) {
            if (statusVar[i - 1] > 0) {
                $('#informativeQuery' + i + 'Form').show();
            }
        }


        function sendData(button) {

            var attempt = numberOfAttempts;
            $('#publish-message' + attempt).hide();
            $('#newStation-message' + attempt).hide();
            $('#remarks-message' + attempt).hide();
            var publish = $("input:radio[name='publish-option" + attempt + "']:checked").val();
            var remarks = $("#remarks" + attempt).val();
            var newStation = $("#newStation" + attempt).val();
            console.log(newStation)

            if (!publish) {
                $('#publish-message' + attempt).show();
            }
            else if (!remarks)
                $('#remarks-message' + attempt).show();
            else if (button == 'accept' && !newStation)
                $('#newStation-message' + attempt).show();
            else {
                var token = '{{csrf_token}}'
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    url: '#',
                    type: 'POST',
                    data: { newStation: newStation, remarks: remarks, button: button, attempt: attempt, publish: publish },
                    success: function (response) {
                        console.log('data sent successfully');
                        if (response.flag != 1)
                            location.href = '/ps-grievance/redirect/'
                    }
                });
            }



        }


        $('priority-option').change(function () {

            var priority = $("input:radio[name='priority-option']:checked").val();
            console.log(priority);
            // getData(type);

        });
    </script>

    {% endblock %}