<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<meta name="viewport" content="width=device-width, initial-scale=1" >
  <head>-->


      {% extends 'grievance/website_base.html' %}
      {% load static %}
      
      
      {% block content %}
      
      
      
    
      
      <section class="container-fluid m-0 p-0" id="main">


  <br><br><br>

  <div class="row container-fluid pt-4 d-flex justify-content-center m-0 table-primary pb-3">


    <div class="col-md-2">
            <label for="name"><strong>Student Name</strong> </label>
            <input class="form-control" id="name" style="text-align: center;" name="name" value='{{name}}' disabled
              type="text">
          </div>
          <div class="col-md-2">
            <label for="student_id"><strong>Student Id</strong> </label>
            <input class="form-control" id="student_id" style="text-align: center;" name="student_id" value='{{student_id}}'
              disabled type="text">
          </div>
      
          <!-- <div class="col-md-2">
            <label for="PS"><strong>Nature of Query</strong> </label>
            <input class="form-control" id="nature" name="nature" style="text-align: center;"
              value='{{applcationStatusObjects.0.natureOfQuery}}' disabled type="text">
          </div> -->
          <div class="col-md-2">
            <label for="PS"><strong>Nature of Query</strong> </label>
            <input class="form-control" id="nature" name="nature" style="text-align: center;" disabled type="text">
          </div>
          <div class="col-md-2">
            <label for="CG"><strong>CG</strong> </label>
            <input class="form-control" id="CG" name="CG" style="text-align: center;" value='{{ cg}}'
              disabled type="text">
          </div>
          <div class="col-md-2">
            <label for="Offshoot"><strong>Application Date</strong> </label>
            <input class="form-control" id="offshoot" name="offshoot" style="text-align: center;"
              value='{{applcationStatusObjects.0.lastChangedDate}}' disabled type="text">
          </div>
      
        </div>
        <hr width="80%">
        <h3 class="text-danger h3 mb-4  text-center"> Form Details</h3>
        <div class="row container-fluid d-flex justify-content-center">
          <div class="col-md-4">
            <div class="row container-fluid ">
              <div class="col-md-12">
                <label for="description"><strong>Description</strong> </label>
                <textarea class="form-control md-textarea" disabled rows="5" id="description" name="description"
                  type="text">{{applcationStatusObjects.0.description}}</textarea>
              </div>
            </div>
      
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 col-sm-5">
            <center><h5> <strong>Submitted Documents </strong></h5>
            <div class="row documents d-flex justify-content-center" id="docs">


         
              
            </div>
          </div>  
        </div>
        <div class="row  container-fluid mt-5">
      
      
          <div class="col-md-6 col-sm-12 p-0 d-flex justify-content-center ">
            <div class="row btn btn-group-inline  btn-group-toggle btn-grp  pl-0" id="priority" data-toggle="buttons">
              <h5 class="h5" style="font-size: 17.6px; color:rgb(128, 128, 128);"><strong>Priority</strong></h5>
              {% if priority == 0 %}
              <label class="btn mt-2 btn-warning">
                <input type="radio" name="priority-option" value="0" id="low" autocomplete="off"> <i class="fas fa-user"> </i>
                Low Priority
              </label>
      
              {% endif %}
      
              {% if priority == 1 %}
              <label class="btn mt-2 btn-primary ">
                <input type="radio" name="priority-option" value="1" id="med" autocomplete="off"> <i class="fas fa-user"> </i>
                Medium Priority
              </label>
      
              {% endif %}
      
              {% if priority == 2 %}
              <label class="btn mt-2 btn-danger">
                <input type="radio" name="priority-option" value="2" id="high" autocomplete="off"> <i class="fas fa-user">
                </i> High Priority
              </label>
      
              <script type="text/javascript">
                // console.log("sdfsdfsfdsdf");
                // console.log('{{ priority }}');
              </script>
      
              {% endif %}
              <br><br>
              <span class="text-danger" id="priority-message">Please Select a Priority</span>
            </div>
          </div>
      
          <div class="col-md-4 col-sm-12 form-group text-center p-0 m-2 mt-3">
            <h5 style="font-size: 17.6px;"><strong>Level 1 Remarks</strong></h5>
      
            <textarea class="form-control md-textarea" disabled rows="3" id="level1Remarks" name="level1Remarks"
              type="text">{{applcationStatusObjects.0.level1Comment}}</textarea>
      
          </div>
        </div>
      
      
      
        <hr width="80%" class="mt-5">



  <div class="row container-fluid mt-5 mb-5  d-flex justify-content-center ">

  
        <div class="col-md-4 text-center">
          <strong> Current PS </strong>

          <input class="form-control  input-sm " cols="2" name="p1" style="text-align: center;"
            value='{{grievanceFormObject.allocatedStation}}' disabled type="text">
        </div>
          <div class="col-md-4 offset-2 text-center">
          <strong> Preference No. of Alloted Station </strong>

          <input class="form-control  input-sm " cols="2" name="p1" style="text-align: center;"
            value='{{grievanceFormObject.preferenceNumberOfAllocatedStation}}' disabled type="text">
        </div>
  
     

      
      
    </div>
          <hr width="80%"/>
          <div class="row d-flex mt-5 justify-content-center">
          <div class="col-md-5">

            <div class="row m-2">
              <div class="col-md-3">
                <label for="p1"><strong>Preference 1:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p1" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation1}}' disabled type="text">
              </div>
            </div>
            <div class="row m-2">
              <div class="col-md-3">
                <label for="p2"><strong>Preference 2:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p2" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation2}}' disabled type="text">
              </div>
            </div>
            <div class="row m-2">
              <div class="col-md-3">
                <label for="p3"><strong>Preference 3:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p3" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation3}}' disabled type="text">
              </div>
            </div>
            <div class="row m-2">
              <div class="col-md-3">
                <label for="p4"><strong>Preference 4:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p4" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation4}}' disabled type="text">
              </div>
            </div>
            <div class="row m-2">
              <div class="col-md-3">
                <label for="p5"><strong>Preference 5:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p5" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation5}}' disabled type="text">
              </div>
            </div>

          </div>
            <div class="col-md-5 offset-1">

            <div class="row m-2">
              <div class="col-md-3">
                <label for="p1"><strong>Preference 6:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p6" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation6}}' disabled type="text">
              </div>
            </div>
            <div class="row m-2">
              <div class="col-md-3">
                <label for="p2"><strong>Preference 7:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p7" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation7}}' disabled type="text">
              </div>
            </div>
            <div class="row m-2">
              <div class="col-md-3">
                <label for="p3"><strong>Preference 8:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p8" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation8}}' disabled type="text">
              </div>
            </div>
            <div class="row m-2">
              <div class="col-md-3">
                <label for="p4"><strong>Preference 9:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p9" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation9}}' disabled type="text">
              </div>
            </div>
            <div class="row m-2">
              <div class="col-md-3">
                <label for="p5"><strong>Preference 10:</strong> </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" name="p10" style="text-align: center;"
                  value='{{grievanceFormObject.preferedStation10}}' disabled type="text">
              </div>
            </div>

          </div>
        </div>
        <hr width="80%" class="mt-5">
      
      
        <!-- level1 -->
      
        <div class="row form-group container-fluid mt-5">
      
          <div class="col-md-6 d-flex justify-content-center">
            <div class="col-md-6">
              <label for="ex1"><strong>New Alloted PS Station</strong> </label>
              <input class="form-control mt-4" type="text" name="newStation" id="newStation1" disabled value={{applcationStatusObjects.0.newStation}}>
              <span class="text-danger" id="newStation-message1" style="display:none">Please enter new PS station</span>
            </div>
          </div>
          <div class="col-md-6  d-flex justify-content-center">
      
            <div class="col-md-8  form-group text-center p-0">
      
              <label for="remarks"><strong>Remarks </strong></label>
              <textarea class="form-control md-textarea" rows="3" id="remarks1" name="remarks1" type="text"
                disabled>{{applcationStatusObjects.0.level2Comment}}</textarea>
              <span class="text-danger" id="remarks-message1" style="display:none">Please enter the remarks</span>
      
            </div>
          </div>
        </div>
        <!-- <div id="publishSection1">
      
          <div class="col-md-12 col-sm-12 p-0 d-flex justify-content-center ">
            <div class="row btn btn-group-inline  btn-group-toggle btn-grp  pl-0 justify-content-center" id="priority"
              data-toggle="buttons">
              <h5 class="h5"> Publish </h5>
              <label class="btn mt-2 btn-outline-danger " style="width: 80px;">
                <input type="radio" name="publish-option1" value="0" id="no1" autocomplete="off"><i class="fa fa-times"
                  aria-hidden="true"></i> No
              </label>
              <label class="btn mt-2 btn-outline-success" style="width: 80px;">
                <input type="radio" name="publish-option1" value="1" id="yes1" autocomplete="off"><i class="fa fa-check"
                  aria-hidden="true"></i> Yes
              </label>
              <div class="text-danger" id="publish-message1">Please Select</div>
            </div>
          </div>
        </div> -->
      
        <!-- <div class="row pb-5 mt-5 mb-5 d-flex text-center justify-content-center">
          <div class="col-4">
            <button id="acceptButton1" class="btn btn-lg btn-success" name="accept1" onclick="sendData('accept')"
              style="width: 45%">Accept</button>
      
            <button id="rejectButton1" class="btn btn-lg btn-danger" name="reject1" onclick="sendData('reject')"
              style="margin-left: 5%; width: 45%">Reject</button>
      
            <button id="statusButton1" class="btn btn-lg" disabled name="status1"
              style="margin-left: 5px; display: none;"></button>
      
          </div> -->
      
        <div class="row pb-5 mt-5 mb-5 d-flex text-center justify-content-center">
          <div class="col-6">
            <h5 style="font-size: 17.6px;"><strong>Status</strong></h5>
            <h4>
              <span id="levelButton1" class="badge badge-info" name="level1" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px;"></span>
              <span id="publishButton1" class="badge" name="publish1" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px;"></span>
              <span id="statusButton1" class="badge" name="status1" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px; color: #fff;"></span>
            </h4>
          </div>
        </div>
      </section>
      </div>
      
      
      
      
      
      
      <!-- level2 -->
      <div id="formSection2">
        <hr>
        <h2 class="text-center">Re-Application 1</h2>
      
        <div class="row form-group container-fluid mt-5">
      
      
          <div class="col-md-12 justify-content-center text-center" style="margin-bottom: 20px;">
            <div style="max-width: 40%; margin-left:auto; margin-right:auto;">
              <label for="description2"><strong>Description </strong></label>
              <textarea class="form-control md-textarea" rows="3" id="description2" name="description2" type="text"
                disabled>{{applcationStatusObjects.1.description}}</textarea>
            </div>
          </div>
      
          <div class="col-md-6 d-flex justify-content-center">
            <div class="col-md-6">
              <label for="ex1"><strong>New Alloted PS Station</strong> </label>
              <input class="form-control mt-4" type="text" name="newStation2" id="newStation2" disabled value={{applcationStatusObjects.1.newStation}}>
              <span class="text-danger" id="newStation-message2" style="display:none">Please enter new PS station</span>
            </div>
      
          </div>
          <div class="col-md-6  d-flex justify-content-center">
      
            <div class="col-md-8  form-group text-center p-0">
      
              <label for="remarks"><strong>Remarks </strong></label>
              <textarea class="form-control md-textarea" rows="3" id="remarks2" name="remarks2" type="text"
                disabled >{{applcationStatusObjects.1.level2Comment}}</textarea>
              <span class="text-danger" id="remarks-message2" style="display:none">Please enter the remarks</span>
      
            </div>
          </div>
        </div>
        <!-- 
        <div id="publishSection2">
          <div class="col-md-12 col-sm-12 p-0 d-flex justify-content-center ">
            <div class="row btn btn-group-inline  btn-group-toggle btn-grp  pl-0 justify-content-center" id="priority"
              data-toggle="buttons">
              <h5 class="h5"> Publish </h5>
              <label class="btn mt-2 btn-outline-danger " style="width: 80px;">
                <input type="radio" name="publish-option2" value="0" id="no2" autocomplete="off"><i class="fa fa-times"
                  aria-hidden="true"></i> No
              </label>
              <label class="btn mt-2 btn-outline-success" style="width: 80px;">
                <input type="radio" name="publish-option2" value="1" id="yes2" autocomplete="off"><i class="fa fa-check"
                  aria-hidden="true"></i> Yes
              </label>
              <div class="text-danger" id="publish-message2">Please Select </div>
            </div>
          </div>
        </div>
      
        <div class="row pb-5 mt-5 mb-5 d-flex text-center justify-content-center">
          <div class="col-4">
            <button id="acceptButton2" class="btn btn-lg btn-success" name="accept2" onclick="sendData('accept')"
              style="width: 45%">Accept</button>
      
            <button id="rejectButton2" class="btn btn-lg btn-danger" name="reject2" onclick="sendData('reject')"
              style="margin-left: 5%; width: 45%">Reject</button>
            <button id="statusButton2" class="btn btn-lg" disabled name="status2"
              style="margin-left: 5px; display: none;"></button>
          </div>
        </div> -->
        <div class="row pb-5 mt-5 mb-5 d-flex text-center justify-content-center">
            <div class="col-6">
                <h5 style="font-size: 17.6px;"><strong>Status</strong></h5>
                <h4>
                  <span id="levelButton2" class="badge badge-info" name="level2" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px;"></span>
                  <span id="publishButton2" class="badge" name="publish2" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px;"></span>
                  <span id="statusButton2" class="badge" name="status2" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px; color: #fff;"></span>
                </h4>
              </div>
        </div>
        </section>
      </div>
      
      
      
      <!-- level3 -->
      <div id="formSection3">
        <hr>
        <h2 class="text-center">Re-Application 2</h2>
        <div class="row form-group container-fluid mt-5">
      
      
          <div class="col-md-12 justify-content-center text-center" style="margin-bottom: 20px;">
            <div style="max-width: 40%; margin-left:auto; margin-right:auto;">
              <label for="description3"><strong>Description </strong></label>
              <textarea class="form-control md-textarea" rows="3" id="description3" name="description3" type="text"
                disabled>{{applcationStatusObjects.2.description}}</textarea>
            </div>
          </div>
      
          <div class="col-md-6 d-flex justify-content-center">
            <div class="col-md-6">
              <label for="ex1"><strong>New Alloted PS Station</strong> </label>
              <input class="form-control mt-4" value='{{applcationStatusObjects.2.newStation}}' type="text" name="newStation3"
                id="newStation3" disabled>
              <span class="text-danger" id="newStation-message3" style="display:none">Please enter new PS station</span>
            </div>
      
          </div>
          <div class="col-md-6  d-flex justify-content-center">
      
            <div class="col-md-8  form-group text-center p-0">
      
              <label for="remarks"><strong>Remarks </strong></label>
              <textarea class="form-control md-textarea" rows="3" id="remarks3" name="remarks3" type="text"
                disabled>{{applcationStatusObjects.2.level2Comment}}</textarea>
              <span class="text-danger" id="remarks-message3" style="display:none">Please enter the remarks</span>
      
            </div>
          </div>
        </div>
      
        <!-- <div id="publishSection3">
          <div class="col-md-12 col-sm-12 p-0 d-flex justify-content-center ">
            <div class="row btn btn-group-inline  btn-group-toggle btn-grp  pl-0 justify-content-center" id="priority"
              data-toggle="buttons">
              <h5 class="h5"> Publish </h5>
              <label class="btn mt-2 btn-outline-danger " style="width: 80px;">
                <input type="radio" name="publish-option3" value="0" id="no3" autocomplete="off"><i class="fa fa-times"
                  aria-hidden="true"></i> No
              </label>
              <label class="btn mt-2 btn-outline-success" style="width: 80px;">
                <input type="radio" name="publish-option3" value="1" id="yes3" autocomplete="off"><i class="fa fa-check"
                  aria-hidden="true"></i> Yes
              </label>
              <div class="text-danger" id="publish-message3">Please Select </div>
            </div>
          </div>
        </div>
      
        <div class="row pb-5 mt-5 mb-5 d-flex text-center justify-content-center">
          <div class="col-4">
            <button id="acceptButton3" class="btn btn-lg btn-success" name="accept3" onclick="sendData('accept')"
              style="width: 45%">Accept</button>
      
            <button id="rejectButton3" class="btn btn-lg btn-danger" name="reject3" onclick="sendData('reject')"
              style="margin-left: 5%; width: 45%">Reject</button>
            <button id="statusButton3" class="btn btn-lg" disabled name="status3"
              style="margin-left: 5px; display: none;"></button>
          </div>
      
        </div> -->
        <div class="row pb-5 mt-5 mb-5 d-flex text-center justify-content-center">
            <div class="col-6">
                <h5 style="font-size: 17.6px;"><strong>Status</strong></h5>
                <h4>
                  <span id="levelButton3" class="badge badge-info" name="level3" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px;"></span>
                  <span id="publishButton3" class="badge" name="publish3" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px;"></span>
                  <span id="statusButton3" class="badge" name="status3" style="padding: 15px 0; margin: 5px 1%; width: 30%; max-width: 180px; color: #fff;"></span>
                </h4>
              </div>
        </div>
        </section>
      </div>
      
      
      
      
      
      
      <script type="text/javascript">
      
        $('#priority-message').hide();
        $('#publish-message1').hide();
        $('#publish-message2').hide();
        $('#publish-message3').hide();
        $('#remarks-message1').hide();
        $('#remarks-message2').hide();
        $('#remarks-message3').hide();
        $('#newStation-message1').hide();
        $('#newStation-message2').hide();
        $('#newStation-message3').hide();
      
        // var pending1 = '{{applcationStatusObjects.0.status}}';
        // var pending2 = '{{applcationStatusObjects.1.status}}';
        // var pending3 = '{{applcationStatusObjects.2.status}}';
        // if (pending1 == 2) {
        //   $('#statusButton1').addClass('btn-success');
        //   $('#statusButton1').text('Accepted');
        // } else if (pending1 == 3) {
        //   $('#statusButton1').addClass('btn-danger');
        //   $('#statusButton1').text('Rejected');
        // }
        // if (pending2 == 2) {
        //   $('#statusButton2').addClass('btn-success');
        //   $('#statusButton2').text('Accepted');
        // } else if (pending2 == 3) {
        //   $('#statusButton2').addClass('btn-danger');
        //   $('#statusButton2').text('Rejected');
        // }
        // if (pending3 == 2) {
        //   $('#statusButton3').addClass('btn-success');
        //   $('#statusButton3').text('Accepted');
        // } else if (pending3 == 3) {
        //   $('#statusButton3').addClass('btn-danger');
        //   $('#statusButton3').text('Rejected');
        // }
      
      
        // $('#formSection2').hide();
        // $('#formSection3').hide();
        // var numberOfAttempts = '{{numberOfAttempts}}';
        // if (numberOfAttempts > 1) {
        //   $('#formSection2').show();
        //   $('#publishSection1').hide();
        //   $('#acceptButton1').hide();
        //   $('#rejectButton1').hide();
        //   $('#statusButton1').show();
        //   if (numberOfAttempts > 2) {
        //     $('#formSection3').show();
      
      
        //     $('#publishSection2').hide();
        //     $('#acceptButton2').hide();
        //     $('#rejectButton2').hide();
        //     $('#statusButton2').show();
        //     if (pending3 > 1) {
        //       $('#publishSection3').hide();
        //       $('#acceptButton3').hide();
        //       $('#rejectButton3').hide();
        //       $('#statusButton3').show();
        //     }
        //   }
        // }
      
        $('#formSection2').hide();
        $('#formSection3').hide();
        var numberOfAttempts = '{{numberOfAttempts}}';
        if (numberOfAttempts > 1) {
          $('#formSection2').show();
          if (numberOfAttempts > 2) {
            $('#formSection3').show();
          }
        }
      
        var level1 = '{{applcationStatusObjects.0.level}}';
        var level2 = '{{applcationStatusObjects.1.level}}';
        var level3 = '{{applcationStatusObjects.2.level}}';
        $('#levelButton1').text("Level " + level1);
        $('#levelButton2').text("Level " + level2);
        $('#levelButton3').text("Level " + level3);
      
        var publish1 = '{{applcationStatusObjects.0.publish}}';
        var publish2 = '{{applcationStatusObjects.1.publish}}';
        var publish3 = '{{applcationStatusObjects.2.publish}}';
        if (publish1 == 1) {
          $('#publishButton1').text("Published");
          $('#publishButton1').addClass("badge-success");
        }
        else {
          $('#publishButton1').text("Not published");
          $('#publishButton1').addClass("badge-danger");
        }
        if (publish2 == 1) {
          $('#publishButton2').text("Published");
          $('#publishButton2').addClass("badge-success");
        }
        else {
          $('#publishButton2').text("Not published");
          $('#publishButton2').addClass("badge-danger");
        }
        if (publish3 == 1) {
          $('#publishButton3').text("Published");
          $('#publishButton3').addClass("badge-success");
        }
        else {
          $('#publishButton3').text("Not published");
          $('#publishButton3').addClass("badge-danger");
        }
      
        var pending1 = '{{applcationStatusObjects.0.status}}';
        var pending2 = '{{applcationStatusObjects.1.status}}';
        var pending3 = '{{applcationStatusObjects.2.status}}';
        // console.log(pending3);
        if (pending1 == 2) {
          $('#statusButton1').addClass('badge-success');
          $('#statusButton1').text('Accepted');
        } else if (pending1 == 3) {
          $('#statusButton1').addClass('badge-danger');
          $('#statusButton1').text('Rejected');
        } else if(pending1 == 1){
          $('#statusButton1').addClass('badge-warning');
          $('#statusButton1').text('Pending');
        }
        if (pending2 == 2) {
          $('#statusButton2').addClass('badge-success');
          $('#statusButton2').text('Accepted');
        } else if (pending2 == 3) {
          $('#statusButton2').addClass('badge-danger');
          $('#statusButton2').text('Rejected');
        } else if(pending2 == 1){
          $('#statusButton2').addClass('badge-warning');
          $('#statusButton2').text('Pending');
        }
        if (pending3 == 2) {
          $('#statusButton3').addClass('badge-success');
          $('#statusButton3').text('Accepted');
        } else if (pending3 == 3) {
          $('#statusButton3').addClass('badge-danger');
          $('#statusButton3').text('Rejected');
        } else if(pending3 == 1){
          $('#statusButton3').addClass('badge-warning');
          $('#statusButton3').text('Pending');
        }
      
      
      
        var natureType = '{{applcationStatusObjects.0.natureOfQuery}}';
        if (natureType == 0)
          $('#nature').val('Medical');
        else if (natureType == 1)
          $('#nature').val('Non Medical');
      
        $(document).ready(function () {
          //var student_id=document.getElementById;
          /*
            document.getElementById('name').value={{name}};
            document.getElementById('student_id').value={{student_id}};
          
            document.getElementById('description').value={{description}};
            document.getElementById('applicationDate').value={{applicationDate}};
            document.getElementById('PS').value={{allocatedStation}};
            //document.getElementById('name')=response.name;
          var documents=response.documents;
          */
          var length = '{{documentCount}}';
          if (length > 0) {
            var documents = ['{{documents.0}}','{{documents.1}}','{{documents.2}}','{{documents.3}}','{{documents.4}}'];
            for(var i=0;i<length;i++)
            {
              // console.log("asdf")
              // console.log('{{documents.1}}');
              var name = documents[i].split("/")[2];
              // console.log(documents[0]);
              var doc='<div class=" col-md-2 col-sm-6 "><div class="row p-3 d-flex justify-content-center document"><a href=/PS2/media/'+documents[i]+' target="_blank" id="doc'+i+'">      <div class="thumbnail">        <img src={% static "grievance/images/doc.png" %} id="img1" class="p-1 img " style="width:100%;">     </div>             <div class="caption pt-4  table-warning ">          <p id="caption1">'+name+'</p>        </div>      </a>    </div>';

             var documentname = '<div class="row p-0  m-0 d-flex justify-content-center document"><p id="caption1">'+name+'</p>                 </div></div>';
             var doc1=doc+documentname;
             $('#docs').append(doc1);

            }
          }
          else {
            var doc = '<div class=" p-3 d-flex text-danger justify-content-center document"> No documents have been uploaded by the student. </div>';
            $('#docs').append(doc);
          }
      
      
      
      
      
      
        });
      
        $(document).ready(function () {
          // console.log('doc ready');
          $('#priority-message').hide();
          $('#remarks-message').hide();
      
        });
      
      
      
        function sendData(button) {
      
          var attempt = numberOfAttempts;
          $('#publish-message' + attempt).hide();
          $('#newStation-message' + attempt).hide();
          $('#remarks-message' + attempt).hide();
          var publish = $("input:radio[name='publish-option" + attempt + "']:checked").val();
          var remarks = $("#remarks" + attempt).val();
          var newStation = $("#newStation" + attempt).val();
          // console.log(newStation)
      
          if (!publish) {
            $('#publish-message' + attempt).show();
          }
          else if (!remarks)
            $('#remarks-message' + attempt).show();
          else if (button == 'accept' && !newStation)
            $('#newStation-message' + attempt).show();
          else {
            var token = '{{csrf_token}}'
            $.ajax({
              headers: { "X-CSRFToken": token },
              url: '#',
              type: 'POST',
              data: { newStation: newStation, remarks: remarks, button: button, attempt: attempt, publish: publish },
              success: function (response) {
                // console.log('data sent successfully');
                if (response.flag != 1)
                  location.href = '/PS2/redirect/'
              }
            });
          }
      
      
      
        }
      
      
        $('priority-option').change(function () {
      
          var priority = $("input:radio[name='priority-option']:checked").val();
          // console.log(priority);
          // getData(type);
      
        });
      </script>
      <style>
        .documents a {
          text-decoration: none;
        }
      
        .caption {
          opacity: 0;
          text-align: center;
          font-size: 110%;
          position: absolute;
          top: 0;
          text-transform: uppercase;
          width: 100%;
          transition: .1s ease;
          height: 100%;
          left: 5px;
        }
      
        .document:hover .caption {
          opacity: 1;
      
        }
      
        .caption p {
          font-size: 80%;
        }
        label {
          display: block;
          text-align: center;
          line-height: 150%;    
        }
        #docname , #caption1
        {
          width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        

      </style>
      
      {% endblock %}